<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>LLM Manager</title>
<link rel="stylesheet" href="{{ base_path }}/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ base_path }}/static/css/main.css" />
<link rel="stylesheet" href="{{ base_path }}/static/css/icons.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css" />
<script>
    window.LLMM_BASE_PATH = {{ base_path|tojson }};
</script>
<script type="text/javascript" src="{{ base_path }}/static/js/socket.io.min.js"></script>
<script src="{{ base_path }}/static/js/bootstrap.bundle.min.js"></script>
<script src="{{ base_path }}/static/js/sortable.min.js"></script>
<script src="{{ base_path }}/static/js/markdown-it.min.js"></script>
<script src="{{ base_path }}/static/js/highlight.min.js"></script>
<script src="{{ base_path }}/static/js/icons.js"></script>
<script src="{{ base_path }}/static/js/utils.js"></script>
<script src="{{ base_path }}/static/js/requests.js"></script>
<script src="{{ base_path }}/static/js/models.js"></script>
<script src="{{ base_path }}/static/js/chat.js"></script>
<script type="text/javascript" src="{{ base_path }}/static/js/app.js" defer></script>

<script>
    // Initialize socket.io
    var socket = io({
        path: "{{ base_path }}/socket.io"
    });
</script>
