## lint
djlint==1.36.4
ruff==0.15.8
## fastapi
fastapi==0.135.2
uvicorn[standard]==0.42.0
python-socketio==5.16.1
python-multipart==0.0.22
jinja2==3.1.6
aiofiles==25.1.0
setuptools==82.0.1
## ollama api
httpx==0.28.1